{
  "openapi": "3.0.0",
  "info": {
    "title": "GlueX Router v1 API",
    "version": "1.0.0",
    "description": "API for interacting with the GlueX Router v1."
  },
  "servers": [
    {
      "url": "https://router.gluex.xyz",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "PriceRequest": {
        "type": "object",
        "properties": {
          "inputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "inputAmount": { "type": "integer" },
          "userAddress": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputReceiver": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "chainID": { "type": "string" },
          "uniquePID": { "type": "string" }
        },
        "required": [
          "inputToken",
          "outputToken",
          "inputAmount",
          "userAddress",
          "outputReceiver",
          "chainID",
          "uniquePID"
        ]
      },
      "PriceResponse": {
        "type": "object",
        "properties": {
          "inputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "feeToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputReceiver": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "inputAmount": { "type": "integer" },
          "outputAmount": { "type": "integer" },
          "partnerFee": { "type": "integer" },
          "routingFee": { "type": "integer" },
          "effectiveOutputAmount": { "type": "integer" },
          "minOutputAmount": { "type": "integer" },
          "liquidityModules": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "properties": {
          "inputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "inputAmount": { "type": "integer" },
          "userAddress": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputReceiver": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "chainID": { "type": "string" },
          "uniquePID": { "type": "string" },
          "isPermit2": { "type": "boolean" }
        },
        "required": [
          "inputToken",
          "outputToken",
          "inputAmount",
          "userAddress",
          "outputReceiver",
          "chainID",
          "uniquePID",
          "isPermit2"
        ]
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "inputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "feeToken": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "outputReceiver": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "inputAmount": { "type": "integer" },
          "outputAmount": { "type": "integer" },
          "partnerFee": { "type": "integer" },
          "routingFee": { "type": "integer" },
          "effectiveOutputAmount": { "type": "integer" },
          "minOutputAmount": { "type": "integer" },
          "liquidityModules": {
            "type": "array",
            "items": { "type": "string" }
          },
          "router": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" },
          "calldata": { "type": "string" }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/liquidity": {
      "get": {
        "summary": "Retrieve available chains and liquidity modules",
        "description": "Fetches a list of supported blockchain networks and their associated liquidity modules.",
        "responses": {
          "200": {
            "description": "Successful response containing available chains and liquidity modules.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "chainID": {
                            "type": "string",
                            "description": "Identifier of the blockchain network."
                          },
                          "networkID": {
                            "type": "integer",
                            "description": "Numeric identifier for the blockchain network."
                          }
                        }
                      }
                    },
                    "liquidityModules": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": { "type": "string" }
                      },
                      "description": "Mapping of chain IDs to their supported liquidity modules."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/create": {
      "post": {
        "summary": "Create an API key for a partner",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["partnerName", "partnerAddress", "partnerFee"],
                "properties": {
                  "partnerName": {
                    "type": "string",
                    "description": "Name of the partner requesting the API key."
                  },
                  "partnerAddress": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "Wallet address of the partner where the fee can be transferred, if applicable."
                  },
                  "partnerFee": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 4,
                    "description": "Fee specified by the partner. Must be a non-negative integer within the range [0, 4]."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "uniquePID": { "type": "string" },
                    "apikey": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/price": {
      "post": {
        "summary": "Get swap price without calldata",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PriceRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PriceResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/quote": {
      "post": {
        "summary": "Get calldata for on-chain swap",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/QuoteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" }
              }
            }
          }
        }
      }
    }
  }
}
